.tag-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;

    
}

.tag {
    color: white;
    font-size: 14px;
    background-color: #ff6060;
    border-radius: 10px;
    padding: 3px 10px;
    margin-right: 10px;
    margin-bottom: 5px;

    @media screen and (max-width: 767px) {
        margin-right: 5px; /* Ajuste la marge à droite pour des écrans plus petits */
        margin-bottom: 5px; /* Ajuste la marge en bas pour des écrans plus petits */
    }
}
