.banniere {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 50px auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;

  .banniere-content {
    width: 100%;
    display: flex;

    .banniere-title {
      position: absolute;
      top: 47%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
      font-family: Montserrat;
      font-size: 38px;
      font-weight: 500;
      margin: 0;
    }
  }

  @media screen and (max-width: 767px) {
    margin: 20px auto;

    .banniere-content {
      flex-direction: column;

      .banniere-title {
        
        left: 50%;
        transform: translateX(-50%);
        font-size: 24px; /* Ajuste la taille du titre pour des écrans plus petits */
      }
    }
  }
}
