.rating-star {
    height: 24px;
    margin-right: 15px;
    margin-top: 27px;

    @media screen and (max-width: 767px) {
        height: 18px; /* Ajuste la hauteur pour des écrans plus petits */
        margin-right: 10px; /* Ajuste la marge à droite pour des écrans plus petits */
        margin-top: 20px; /* Ajuste la marge en haut pour des écrans plus petits */
    }
}
