.container-logement{
    max-width: 1440px;
    margin: auto;
}



/* Details infos appartement */
.details {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
}

/* Titre et tags */
.tag-title {
    margin-top: 30px;
    margin-bottom: 24px;
   
}

.title h1 {
    font-weight: 500;
    font-size: 36px;
    margin: 0;
    color: #FF6060;
    font-family: "Montserrat";
}

.title h2 {
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    color: #FF6060;
    font-family: "Montserrat";
}

.tag-container {
    font-family: "Montserrat";
    
}

/* host de l'appartement et étoiles */
.stars-name {
    margin-top: 24px;
}

.host-name {
    color: #FF6060;
    font-size: 18px;
}

.host-name-picture {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 10px;
}

.host-picture {
    border-radius: 50%;
    height: 64px;
    width: 64px;
}

/* Collapse description et equipements */
.collapse-logement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
   
}

.description-logement, .equipments-logement {
    width: 45%;
    margin: 0 auto
}

.collapse-title {
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: "Montserrat";
}
.collapse-title-container {
    background-color: #ff6060;
    display: flex;
    justify-content: space-between;
}

.collapse-description {
    padding: 20px ;
    color: #FF6060;
    font-weight: 400;
    font-size: 18px;
    background-color: #F6F6F6;
    line-height: 142.6%;
    font-family: Montserrat;
    font-style: normal;
}
