

  .collapse-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
      
      .collapse-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ff6060;
        border-radius: 5px 5px 0 0;
        height: 52px;
        margin-bottom: 10px;
        padding-right: 15px;
        
        h2{
        margin: 0 18px;
        color: white;
        font-size: 24px;
        font-weight: 500;
      }
        .arrow-icon {
          width: 24px;
          height: auto;
          
        }

        .arrow-up {
          transform: rotate(180deg);
          
        }
      }
    

    .collapse-description {
      color: #ff6060;
      background-color: #f6f6f6;
      padding: 20px;
      margin: 0;
      font-family: Montserrat;
      font-size: 16px;
      position: relative;
      top: -10px;
      border-radius: 0 0 5px 5px;
    }
  }

