.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: black;
  width: 100%;
  max-width: 1440px;
  padding: 40px 0;

  .footer-text {
    color: white;
    font-size: 24px;
    font-weight: 500;
    font-family: Montserrat;
  }

  @media screen and (max-width: 768px) {
    display: flex;
    width: 375px;
    height: 209px;
    padding: 66px 120.313px 58px 121.094px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: -0.444px;
    flex-shrink: 0;

    .footer-text {
      font-size: 12px; /* Ajuste la taille du texte pour des écrans plus petits */
    }
  }
}
